@use "./vendor/normalize";
@use "./partials/colors";
@use "./partials/typography";
@use "./partials/mixins";

.navigation {
    background-color: tomato
    padding: 15px;
}

.navigation nav a {
    color: white;
    text-decoration: none;
}

.navigation {
    background-color: colors.$primary-color
    padding: 15px;
    nav {
        a {
            color: white;
            text-emphasis: none;
            &:hover {
                color: #414141;
            }
        }
        .active {
            text-decoration: underline;
        }
    }
}



.title{
    font-family: typography.$font-dosis;
}

main{
    padding: 10px;
}

.btn-primary {
    background-color: colors.$primary-color;
    color: white;
}

.footer {
    background-color: colors.$dark-color;
    color: #150300
}

.title{
    @include mixins.titles(navy, 20px);

}

.second-title{
   @include mixins.titles(tomato, 50px);
}

.paragraph{
    font-family: $font-dosis;
}

@media (min-width: 768px) {
    .navigation{
        background-color: red;
    }
}

//big screens
@media (min-width: 1024px;) {
    .navigation {
        background-color: #150300
    }
}

