@use "./vendor/normalize";
@use "./partials/colors";
@use "./partials/typography";

.navigation {
    background-color: rgb(35, 75, 45);
    padding: 15px;
}

.navigation nav a {
    color: white;
    text-decoration: none;
}

.navigation {
    background-color: rgb(33, 68, 38);
    padding: 15px;
    nav {
        a {
            color: white;
            text-emphasis: none;
            &:hover {
                color: rgb(70, 49, 31);
            }
        }
    }
}

.title{
    font-family: typography.$font-dosis;
}

.btn-primary {
    background-color: colors.$primary-color;
    color: white;
}

.footer {
    background-color: colors.$dark-color;
    color: #150300
}

.title{
    font-family: typography.$font-marck;
}

.paragraph{
    font-family: $font-dosis;
}

//big screens
@media (min-width: 1024px;) {
    .navigation {
        background-color: rgb(28, 66, 28);
    }
}

